# vscode
.vscode

# python environments
.env
env/

# python cache
exercise_1/ex1/__pycache__/*
exercise_1/ex2/__pycache__/*
exercise_1/ex3/__pycache__/*
exercise_1/ex4/__pycache__/*

# binary files
exercise_1/ex1/bin/*
exercise_1/ex2/mutex_lock/build/*
exercise_1/ex2/atomic_operations/build/*
exercise_1/ex3/initial/build/*
exercise_1/ex3/solution_1/build/*
exercise_1/ex3/solution_2/build/*
exercise_1/ex4/bin/*

# help code
exercise_1/helpcode/*
template_main.c

# data
exercise_1/ex1/data/*
exercise_1/ex4/data/*

#configuration
exercise_1/ex1/conf.py
exercise_1/ex2/conf.py
exercise_1/ex3/conf.py
exercise_1/ex4/conf.py
